body {
    background-IMAGE: url('https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?cs=srgb&dl=pexels-frank-cone-140140-3214110.jpg&fm=jpg');
    float: left;
    color: white
}
a {
    text-decoration: none;
}
.titulo {
    float: left;
    background-color: rgba(1, 1, 1, 0.4);
    box-shadow: 0 0 40px 0 black;
}

.cuerpoCeleste {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 40px;
    border-radius: 50px;
    background-image: radial-gradient(orange,yellow);
    transition: ease 0.4s;
}
.cuerpoCeleste:hover {
    box-shadow: 0px 0px 3px 0px #FAB12F, 
                0px 0px 26px 0px #FCF596,
                0px 0px 39px 0px #FBFBFB;
}
.menu {
    place-self: center;
}
ol{
    display: flex;
    background-color: rgba(1, 1, 1, 0.295);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: chucknorris;
    width: max-content;
    float: left;
    justify-content: space-between;
    gap: 20px;
}

li{
    float: left;
    color: tomato;
    font-size: 30px;
    border: 7px solid #00000000;
    padding: 15px;
    transition: ease-in-out 1s;
}
li:hover {
    background-color: black;
    border-radius: 40px;
    border: 7px dashed #ffffff;
}
i {
    font-size: 30px;
}
b {
    font-size: 20px;
    color: red
}
.content {
    height: min-content;
    margin-top: 20%;
    margin-left: 3%;
    margin-right: 3%;
}
.cuadrado {
    background-color: rgb(19, 19, 36);
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 40px 0 black;
    animation: appear ease-out 1.5s;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}